.task3{
    display: flex;
    justify-content: center;
    
    &__holder{
        display: flex;
        font-weight: 700;
        width: 500px;
        height: 100px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border: 3px solid black;
        border-radius: 12px 12px 0 0;  
    }

    &__item{
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
    }
    &__item:nth-child(1){
        background: pink;
        flex-basis: 50%;
        border-radius: 10px 0 0 0;
    }
    &__item:nth-child(2){
        background: blue;
        order: 3;
        flex-basis: 33.33%;
    }
    &__item:nth-child(3){
        background: purple;
        order: 2;
        flex-basis: 33.33%;
    }
    &__item:nth-child(4){
        background:green;
        order: 4;
        flex-basis: 33.33%;
    }
    &__item:nth-child(5){
        background: orange;
        flex-basis: 50%;
        order: 1;
        border-radius:0 10px 0 0;
    }
}